<link
  type="text/css"
  rel="stylesheet"
  href="/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}"
/>
<h1 class="display-4 fw-bold text-center text-primary my-4">Lisää kirja</h1>
<div>
  <form
    class="p-4 rounded shadow-sm bg-light"
    th:object="${book}"
    th:action="@{/save}"
    method="post"
  >
    <label for="title">Title</label>
    <input type="text" id="title" th:field="*{title}" />

    <label for="author">Author</label>
    <input type="text" id="author" th:field="*{author}" />

    <label for="isbn">ISBN</label>
    <input type="text" id="isbn" th:field="*{isbn}" />

    <label for="publicationYear">Publication Year</label>
    <input type="number" id="publicationYear" th:field="*{publicationYear}" />

    <label for="price">Price</label>
    <input type="number" step="0.01" id="price" th:field="*{price}" />

    <label for="catlist">Category</label>
    <select id="catlist" th:field="*{category}" class="form-control">
      <option
        th:each="category:${categories}"
        th:value="${category.categoryId}"
        th:text="${category.name}"
      ></option>
    </select>

    <input type="submit" class="btn btn-success" value="save" />
  </form>
</div>