<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>Edit book</h1>
		<form th:object="${book}" th:action="@{/update}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}">
			<div class="mb-3">
				<label for="author" class="form-label">Author</label>
				<input type="text" class="form-control" id="author" th:field="*{author}" />
				<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input type="text" class="form-control" id="title" th:field="*{title}" />
				<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
			</div>
		  	<div class="mb-3">
				<label for="isbn" class="form-label">ISBN</label>
				<input type="text" class="form-control" id="isbn" th:field="*{isbn}" />
				<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label for="year" class="form-label">Year</label>
				<input type="number" class="form-control" id="year" th:field="*{publicationYear}" />
				<span th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price</label>
				<input type="number" class="form-control" id="price" th:field="*{price}" step="0.01" />
				<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label for="category" class="form-label"></label>
				<select id="categoryList" th:field="*{category}" class="form-control" >
                    <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
                </select>
			</div>
			<input type="submit" value="Confirm" class="btn btn-success"></input>
			<a th:href="@{/booklist}" class="btn btn-warning">Cancel</a>
		</form>
	</div>
</body>
</html>